.variable-editor-wrapper {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  .editor-wrapper {
    padding-right: 1.5rem;
  }
  .variable-editor-expand-icon {
    position: absolute;
    top: calc(50% + 1px);
    right: 0;
    transform: translate(-0.2rem, -50%);
    border-radius: 4px;
    padding: 4px 2px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.variable-editor-modal.ant-modal-wrap {
  .ant-modal-body {
    padding: 0 2px;
  }

  .variable-render-error {
    padding: 0.4rem 1rem;
    color: red;
    word-break: break-all;
  }

  .variable-editor {
    height: 120px;
    .editor-wrapper {
      align-items: flex-start;
      align-content: flex-start;
    }
  }
}

.variable-editor {
  & > .editor-wrapper {
    cursor: text;
    overflow: auto;
    border-radius: 4px;
  }

  &.has-error {
    & > .editor-wrapper {
      outline: 1px solid red;
    }
  }

  &.is-disabled > .editor-wrapper {
    cursor: not-allowed;
  }
}
