.function-select-wrapper {
  min-width: 6rem;
  max-height: 12rem;
  overflow-y: auto;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.function-select-option {
  display: flex;
  padding: 0.25rem 0.5rem;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;

  &.is-hover {
    background-color: #e8f3ff;
  }
  &.is-select {
    background-color: #165dff;
    font-weight: 600;
  }
}

.function-select-group {
  display: flex;
  flex-direction: column;
  .function-select-group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 0.2rem 0;

    .function-select-group-header-icon {
      cursor: pointer;
      padding: 4px;
      border-radius: 4px;
      transition: rotate 0.2s linear;
      font-size: 0.75rem;
      &:hover {
        background-color: #e5e6eb;
      }
    }

    .function-select-group-title {
      font-size: 0.75rem;
      color: #c9cdd4;
    }
  }
  .function-select-group-options {
    .function-select-option,
    .function-multiple-select-option {
      padding-left: 1.5rem;
    }
  }
}
