.formula-view-panel-tab {
  border-top: 1px solid #e5e6eb;
  max-height: calc(60vh - 120px);
  overflow: auto !important;
  .ant-tabs-nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    margin-bottom: 0;
  }
}

.formula-variable-wrapper {
  width: 100%;
  overflow: auto;
}

.formula-function-wrapper {
  display: flex;
  height: calc(60vh - 190px);
  .function-select-wrapper {
    height: 100%;
    max-height: none;
    padding-bottom: 1rem;
    box-sizing: border-box;
  }
  .formula-function-example {
    border-left: 1px solid #e5e6eb;
    flex: 1;
    padding: 0.5rem 1rem 1rem;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }
}

.formula-operator-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0.5rem 0 1rem;

  .formula-operator-group-title {
    display: flex;
    align-items: center;
    gap: 6px;
    > :last-child {
      color: #c9cdd4;
      font-size: 0.75rem;
    }
    .icon-down {
      padding: 4px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.75rem;
      transition: rotate 0.2s linear;
      &:hover {
        background-color: #e5e6eb;
      }
    }
  }

  .formula-operator-group-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 1.4rem;
    .formula-operator-group-token {
      padding: 4px 8px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #e8f3ff;
      }
    }
  }
}
